# Data Science Tools and Ecosystem

## Author
## William Green Musselman

In this notebook, Data Science Tools and Ecosystem are summarized. We will work with Jupyterhub R markdown to display data science.

**Objectives:**

- Develop proficiency with github and git
- Work with Jupyterhub notebooks in R/Python 
- Learn about popular languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the popular databases that Data Scientists use are:

1. Numpy
2. Pytorch
3. Pandas

| Data Science Tools |
|--------------------|
| Google Colab  |
| RStudio            |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes*60
print(hours)

12000